@tailwind base;
@tailwind components;
@tailwind utilities;
/* Define custom properties (CSS variables) in the root */
:root {
    --scroll-size: 10px;
    --scroll-radius: 20px;
    --scroll-track: rgba(77, 72, 72, 0.1); 
    --scroll-thumb: linear-gradient(45deg, #001428, #022242);
  }
  
  ::-webkit-scrollbar {
    width: var(--scroll-size); 
    height: var(--scroll-size);
  }
  
  ::-webkit-scrollbar-track {
    background: var(--scroll-track); 
    border-radius: var(--scroll-radius); 
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb); 
    border-radius: var(--scroll-radius);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #007acc, #8451d4); 
  }
  
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb) var(--scroll-track); 
  }
  